:root {
  --darkBlue: #13335f;
  --darkerBlue: #061c39;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  color: var(--darkBlue);
  overflow-x: hidden;
  scroll-padding-top: 100px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  margin-top: 0;
}

h1 {
  font-size: 3.8rem;
  line-height: 4.25rem;
  margin-bottom: 32px;
}

h2 {
  font-size: 2.13rem;
}

h3 {
  font-size: 1.33rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}
p {
  line-height: 1.4;
}

@media (prefers-reduced-motion: no-preference) {
  .left-right {
    animation: left-right 12s ease-in-out 0.1s infinite alternate;
  }
  .up-down {
    animation: up-down 12s ease-in-out infinite alternate;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes up-down {
  from {
    transform: translateY(-25%);
  }
  to {
    transform: translateY(25%);
  }
}

@keyframes left-right {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(25%);
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 2.8rem;
    line-height: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes enlarge {
  from {
    max-width: 0;
  }
  to {
    max-width: 1200px;
  }
}
